.item{
width: 20rem;
height: 20rem;
background-color: rgb(255, 255, 255);
}
.item img{
  max-width: 100%;
  max-height: 12rem;
  border-radius: 10px;
}
.verde{
    background-color: rgb(201, 231, 201);
}

